{% extends "layout.html" %}

{% block title %}
    Sua carteira
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Empresa</th>
                <th>Ações</th>
                <th>Preço</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ portfolio_value | usd }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row["stock_symbol"] }}</td>
                    <td>{{ row["company_name"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ row["price_stock"] | usd }}</td>
                    <td>{{ (row["shares"] * row["price_stock"]) | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>DINHEIRO</td>
                <td colspan="3"></td>
                <td>{{ money | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
