<!-- All from distribution code (Harvard's CS50) -->

{% extends "layout.html" %}

{% block title %}
    Entrar
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Nome" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Senha" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Entrar</button>
    </form>
{% endblock %}
